<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 footer-info">
          <h3>Nature's Foods Australia</h3>
          <p>
            We provide end-to-end solutions for our clients making us your
            one-stop quality pet food manufacturer.
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>Our Service</h3>
          <p>
            <a href={`${import.meta.env.BASE_URL}services/packaging`}>
              Packaging
            </a>
          </p>
          <p>
            <a href={`${import.meta.env.BASE_URL}services/manufacturing`}>
              Manufacturing
            </a>
          </p>
          <p>
            <a href={`${import.meta.env.BASE_URL}services/product-formulation`}>
              Product Formulation
            </a>
          </p>
        </div>

        <div class="col-lg-4 col-md-6 footer-logo">
          <a href={import.meta.env.BASE_URL}>
            <img
              src={`${import.meta.env.BASE_URL}brand/logo.png`}
              alt="Nature's Foods"
            />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">&copy; Copyright 2022 Nature's Foods Australia</div>
  </div>
</footer>
