<section id="services" class="services">
  <div class="container">
    <div class="section-title">
      <h2>Our Services</h2>
      <p>
        To provide end-to-end solution for our clients makes us your one-stop
        quality pet food manufacturer.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon">
            <svg
              width="136px"
              height="136px"
              viewBox="0 0 136 136"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(4.000000, 15.000000)" stroke-width="3">
                  <path
                    d="M18.4034275,6.09817449 L72.5117475,6.09817449 C73.9006653,6.09817449 75.0266058,7.2241149 75.0266058,8.61303278 L75.0266058,12.8044633 C75.0266058,14.1933812 73.9006653,15.3193216 72.5117475,15.3193216 L2.51485829,15.3193216 C1.12594041,15.3193216 0,14.1933812 0,12.8044633 L0,8.61303278 C0,7.2241149 1.12594041,6.09817449 2.51485829,6.09817449 L10.7840164,6.09817449 L10.7840164,6.09817449"
                    id="Path"
                    stroke-linecap="round"></path>
                  <line
                    x1="2.18562481"
                    y1="15.3193216"
                    x2="2.18562481"
                    y2="88.5805072"
                  >
                  </line>
                  <rect
                    x="0"
                    y="88.6693551"
                    width="76.2840349"
                    height="9.64029013"
                    rx="4.82014506"></rect>
                  <line
                    x1="72.9943734"
                    y1="15.3193216"
                    x2="72.9943734"
                    y2="88.5805072"></line>
                  <line
                    x1="2.18562481"
                    y1="32.6463483"
                    x2="72.9943734"
                    y2="32.6463483"></line>
                  <line
                    x1="2.18562481"
                    y1="72.6681906"
                    x2="72.9943734"
                    y2="72.6681906"
                    id="Path-46"></line>
                  <polyline
                    id="Path-47"
                    stroke-linecap="round"
                    points="70.5511844 4.49113542 75.0266058 0 80.3621351 4.49113542 84.6301595 0 88.8940011 4.49113542 93.3059268 0 98.2699733 4.49113542 103.181051 0 107.559848 4.49113542 111.560369 0 116.65353 4.49113542 120.969534 0 125 4.49113542 125 93.4895002 120.969534 98.3096453 116.65353 93.4895002 111.560369 98.3096453 107.559848 93.4895002 103.181051 98.3096453 97.7755922 93.4895002 93.3059268 98.3096453 88.8940011 93.4895002 84.6301595 98.3096453 80.3621351 93.4895002"
                  ></polyline>
                  <line x1="79.7192862" y1="86.5586486" x2="125" y2="86.5586486"
                  ></line>
                  <line
                    x1="82.3616091"
                    y1="69.6179298"
                    x2="92.1039605"
                    y2="69.6179298"
                    stroke-linecap="round"></line>
                  <line
                    x1="82.3616091"
                    y1="62.5363335"
                    x2="103.744262"
                    y2="62.5363335"
                    id="Path-50"></line>
                  <line
                    x1="82.3616091"
                    y1="47.4471837"
                    x2="103.744262"
                    y2="47.4471837"></line>
                  <line
                    x1="82.3616091"
                    y1="41.160038"
                    x2="103.744262"
                    y2="41.160038"></line>
                  <line
                    x1="82.3616091"
                    y1="33.4058916"
                    x2="103.744262"
                    y2="33.4058916"></line>
                  <line
                    x1="82.3616091"
                    y1="27.5378889"
                    x2="103.744262"
                    y2="27.5378889"></line>
                  <circle
                    id="Oval"
                    cx="112.435123"
                    cy="30.3036856"
                    r="3.8770732"></circle>
                  <circle
                    id="Oval-Copy"
                    cx="112.435123"
                    cy="44.3449777"
                    r="3.8770732"></circle>
                  <line
                    x1="78.7988932"
                    y1="10.7721669"
                    x2="113.17498"
                    y2="10.7721669"></line>
                  <line
                    x1="117.323599"
                    y1="10.7721669"
                    x2="125"
                    y2="10.7721669"
                    stroke-linecap="round"></line>
                </g>
              </g>
            </svg>
          </div>
          <h4 class="title">
            <a href={`${import.meta.env.BASE_URL}services/packaging`}>
              Packaging
            </a>
          </h4>
          <p class="description">
            <a
              href={`${import.meta.env.BASE_URL}services/packaging`}
              class="btn-more"
            >
              View More
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon">
            <svg
              width="136px"
              height="136px"
              viewBox="0 0 136 136"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
                stroke-linecap="round"
              >
                <g transform="translate(12.000000, 12.000000)" stroke-width="4">
                  <path
                    d="M0,113 L111,113 C108.790131,106.67487 105.90433,102.150612 102.342598,99.4272266 C97,95.3421478 85,86.9311456 81.5562799,83.1337659 C73.6321259,76.5 56.9930709,64.1690093 45.9965354,70.9935513 C35,77.8180932 30.997139,82 25.9207902,86.9311456 C22.8563156,90 14.979177,96.3652788 9.28706961,98.7743671 C4.05628504,101.868021 0.96059517,106.609898 0,113 Z"
                    id="Path-8"></path>
                  <line x1="53" y1="77" x2="59" y2="77" id="Path-9"></line>
                  <line x1="53" y1="91" x2="59" y2="91" id="Path-9-Copy"></line>
                  <line x1="53" y1="105" x2="59" y2="105" id="Path-9-Copy-2"
                  ></line>
                  <line x1="70" y1="105" x2="76" y2="105" id="Path-9-Copy-3"
                  ></line>
                  <line x1="64" y1="98" x2="70" y2="98" id="Path-9-Copy-4"
                  ></line>
                  <line x1="79" y1="98" x2="85" y2="98" id="Path-9-Copy-5"
                  ></line>
                  <line x1="89" y1="105" x2="95" y2="105" id="Path-9-Copy-6"
                  ></line>
                  <line x1="72" y1="90" x2="78" y2="90" id="Path-9-Copy-7"
                  ></line>
                  <line x1="64" y1="82" x2="70" y2="82" id="Path-9-Copy-8"
                  ></line>
                  <line x1="41" y1="82" x2="47" y2="82" id="Path-9-Copy-9"
                  ></line>
                  <line x1="41" y1="98" x2="47" y2="98" id="Path-9-Copy-10"
                  ></line>
                  <line x1="26" y1="98" x2="32" y2="98" id="Path-9-Copy-11"
                  ></line>
                  <line x1="35" y1="105" x2="41" y2="105" id="Path-9-Copy-12"
                  ></line>
                  <line x1="16" y1="105" x2="22" y2="105" id="Path-9-Copy-13"
                  ></line>
                  <line x1="33" y1="91" x2="39" y2="91" id="Path-9-Copy-14"
                  ></line>
                  <path
                    d="M41.6566622,51.1428587 C52.2859634,46.2445498 60.1804143,43.5999546 65.3400151,43.2090729 C73.4569238,42.5941513 99.5018985,43.8239946 103.820078,34.7084802 C106.698864,28.6314705 104.309882,22.5525249 96.6531343,16.4716432 C92.4893013,10.1572144 87.2768818,7 81.0158759,7 C71.624367,7 58.4860235,7.44451133 47.4477441,28.2447627 C43.36964,36.8536224 40.9697592,44.1452655 40.2481018,50.1196921 L40.2476481,50.1196391 C40.1835286,50.6681891 40.5762372,51.1648559 41.1247872,51.2289753 C41.3067331,51.2502428 41.4910251,51.2211243 41.6575509,51.1447977 Z"
                    id="Path-10"></path>
                  <path
                    d="M97,14.8134613 C102.198388,7.47841894 106.49919,4.06302639 109.902405,4.56728363 C115.007227,5.3236695 111.786282,10.0448678 109.902405,10.8572413 C106.6205,13.0957838 102.319699,14.4145238 97,14.8134613 Z"
                    id="Path-11"></path>
                  <path
                    d="M97,16 C72.8334519,19.718789 54.1667852,31.3854557 41,51"
                    id="Path-12"></path>
                  <path
                    d="M49,27 C60.4012949,27.6758458 64.8310912,32.9571721 62.2893891,42.8439789"
                    id="Path-13"></path>
                  <path
                    d="M60,13 C71.0433439,16.2201005 77.3569861,21.1443227 78.9409266,27.7726665 C79.2770924,32.1783331 78.2967835,36.9207776 76,42"
                    id="Path-14"></path>
                  <path
                    d="M78,7 C87.3333333,13.0100841 92,19.8334161 92,27.469996 C92,35.1065758 91.3333333,39.6627604 90,41.1385498"
                    id="Path-15"></path>
                  <line x1="95" y1="71" x2="95" y2="82" id="Path-16"></line>
                  <line
                    x1="95.5"
                    y1="71"
                    x2="95.5"
                    y2="82"
                    transform="translate(95.500000, 76.500000) rotate(-90.000000) translate(-95.500000, -76.500000) "
                  ></line>
                  <line x1="17" y1="63" x2="17" y2="74" id="Path-16-Copy-3"
                  ></line>
                  <line
                    x1="16.5"
                    y1="63"
                    x2="16.5"
                    y2="74"
                    transform="translate(16.500000, 68.500000) rotate(-90.000000) translate(-16.500000, -68.500000) "
                  ></line>
                  <line x1="36" y1="0" x2="36" y2="11" id="Path-16-Copy-5"
                  ></line>
                  <line
                    x1="36.5"
                    y1="0"
                    x2="36.5"
                    y2="11"
                    transform="translate(36.500000, 5.500000) rotate(-90.000000) translate(-36.500000, -5.500000) "
                  ></line>
                </g>
              </g>
            </svg>
          </div>
          <h4 class="title">
            <a href={`${import.meta.env.BASE_URL}services/manufacturing`}>
              Manufacturing
            </a>
          </h4>
          <p class="description">
            <a
              href={`${import.meta.env.BASE_URL}services/manufacturing`}
              class="btn-more"
            >
              View More
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon">
            <svg
              width="136px"
              height="136px"
              viewBox="0 0 136 136"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g
                  transform="translate(27.000000, 7.000000)"
                  stroke="#71BE1C"
                  stroke-width="4"
                >
                  <circle
                    id="Oval"
                    cx="40.9851452"
                    cy="8.87808783"
                    r="8.87808783"></circle>
                  <circle
                    id="Oval-Copy"
                    cx="73.5786731"
                    cy="27.6072046"
                    r="8.87808783"></circle>
                  <circle
                    id="Oval-Copy-2"
                    cx="73.5786731"
                    cy="65.0654382"
                    r="8.87808783"></circle>
                  <circle
                    id="Oval-Copy-3"
                    cx="8.87808783"
                    cy="65.0654382"
                    r="8.87808783"></circle>
                  <circle
                    id="Oval-Copy-4"
                    cx="8.87808783"
                    cy="27.6072046"
                    r="8.87808783"></circle>
                  <line
                    x1="33.1708703"
                    y1="13.7001895"
                    x2="16.6712519"
                    y2="22.9854856"
                    id="Path"></line>
                  <line
                    x1="48.8738575"
                    y1="13.7001895"
                    x2="65.5330545"
                    y2="22.9854856"
                    id="Path-2"></line>
                  <line
                    x1="73.5786731"
                    y1="37.1323103"
                    x2="73.5786731"
                    y2="56.1873504"
                    id="Path-3"></line>
                  <line
                    x1="8.87808783"
                    y1="37.1323103"
                    x2="8.87808783"
                    y2="56.1873504"
                    id="Path-4"></line>
                  <path
                    d="M38.3073822,46.7011744 L29.5530869,46.7011744 C26.9335517,46.7011744 24.8099989,44.5776215 24.8099989,41.9580863 C24.8099989,39.3385512 26.9335517,37.2149983 29.5530869,37.2149983 L52.4172035,37.2149983 C55.0367387,37.2149983 57.1602915,39.3385512 57.1602915,41.9580863 C57.1602915,44.5776215 55.0367387,46.7011744 52.4172035,46.7011744 L44.9206532,46.7011744 L44.9206532,46.7011744"
                    id="Path"
                    stroke-linecap="round"></path>
                  <path
                    d="M29.5530869,46.7011744 L29.3213786,54.9449841 C29.0574557,64.3349381 26.4769372,73.5141192 21.8093481,81.6660823 L20.8710318,83.3048555 L20.8710318,83.3048555"
                    id="Path-5"
                    stroke-linecap="round"></path>
                  <path
                    d="M52.4172035,46.7011744 L52.4172035,63.8333966 C52.4172035,67.661496 53.5055879,71.4106997 55.5554185,74.6437385 L73.1687114,102.423819 C74.321972,104.242767 74.3800155,106.548948 73.3197182,108.423608 L68.0225468,117.789283 C66.9003731,119.773344 64.797318,121 62.5178941,121 L20.5629821,121 C18.1514673,121 15.9197482,119.724743 14.6954249,117.64714 L9.7290965,109.219577 C8.33948788,106.861494 8.38634948,103.924068 9.85047011,101.611511 L17.7561757,89.1245684 L17.7561757,89.1245684"
                    id="Path-6"
                    stroke-linecap="round"></path>
                  <line
                    x1="65.5330545"
                    y1="69.4107822"
                    x2="55.8760912"
                    y2="74.6597667"
                    id="Path-7"></line>
                  <line
                    x1="16.6712519"
                    y1="69.4107822"
                    x2="26.0383712"
                    y2="73.9435261"
                    id="Path-8"
                    stroke-linecap="round"></line>
                  <path
                    d="M37.542588,114.676358 L22.6494852,114.676358 C21.5451897,114.676358 20.5208932,114.100257 19.9473532,113.156583 L16.5170233,107.512491 C15.8901619,106.481085 15.9051209,105.182787 16.5555806,104.166098 L28.6203159,85.3085377 C29.2014805,84.4001591 30.2055104,83.8505872 31.2838906,83.8505872 L51.0965006,83.8505872 C52.1881194,83.8505872 53.2025376,84.4136355 53.7799643,85.3400317 L65.5697898,104.255075 C66.1749842,105.22602 66.2084838,106.448149 65.6573871,107.45079 L62.5867327,113.0374 C62.0311225,114.048252 60.9691552,114.676358 59.8156717,114.676358 L44.7086166,114.676358"
                    id="Path-9"
                    stroke-linecap="round"></path>
                  <line
                    x1="31.3062693"
                    y1="91.6068406"
                    x2="50.4941765"
                    y2="91.6068406"
                    id="Path-10"
                    stroke-linecap="round"></line>
                  <line
                    x1="26.7955791"
                    y1="99.2634724"
                    x2="55.1035697"
                    y2="99.2634724"
                    id="Path-11"
                    stroke-linecap="round"></line>
                  <line
                    x1="22.6897144"
                    y1="106.380385"
                    x2="59.4744784"
                    y2="106.380385"
                    id="Path-12"
                    stroke-linecap="round"></line>
                </g>
              </g>
            </svg>
          </div>
          <h4 class="title">
            <a href={`${import.meta.env.BASE_URL}services/product-formulation`}>
              Product Formulation
            </a>
          </h4>
          <p class="description">
            <a
              href={`${import.meta.env.BASE_URL}services/product-formulation`}
              class="btn-more"
            >
              View More
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
